{% extends 'base.html.twig' %}

{% block title %}Demande de réinitialisation de mot de passe{% endblock %}

{% block body %}
    <div class="flex flex-col items-center mt-5">
        <div class="w-full max-w-md px-8 py-6 bg-[#763538] text-white shadow-lg rounded-lg">
            <h1 class="text-xl font-semibold text-center mb-6">Demande de réinitialisation de mot de passe</h1>
            
            {{ form_start(requestPasswordForm) }}
            
            <div class="mb-4">
                {{ form_label(requestPasswordForm.email, 'Email', {'label_attr': {'class': 'block text-sm font-medium text-white'}}) }}
                {{ form_widget(requestPasswordForm.email, {'attr': {'class': 'mt-1 block w-full border border-gray-300 rounded-md px-3 py-2 shadow-sm text-[#763538] focus:outline-none focus:ring-white focus:border-white'}}) }}
                {{ form_errors(requestPasswordForm.email) }}
            </div>

            <button type="submit" class="w-full py-2 px-4 bg-white text-[#763538] font-medium border border-white rounded-md hover:bg-[#9b4545] hover:text-white transition-colors focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-white">
                Envoyer
            </button>
            
            {{ form_end(requestPasswordForm) }}
        </div>
    </div>
{% endblock %}
